<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/form.css">
<title>Register password</title>
</head>

<body>

<main>
    <div class="wrapper bg-white">
        <div class="h2 text-center">NASA API</div>
        <div class="text-center img "><img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg" alt="..." class="img-fluid"></div>
        <div class="h4 text-muted text-center pt-2">Enter your register details</div>
        <% if (message) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form class="pt-3 product-form" action="/register-password" method ="POST">
            <div class="form-group row">
                <div class="col-sm-12">
                    <p class="text-sm text-muted">
                        <span class="far fa-user p-2"></span>
                        <label>Email:</label> <%= userInfo ? userInfo.email : "" %>
                    </p>
                </div>
                <div class="col-sm-12">
                    <p class="text-sm text-muted">
                        <span class="far fa-user p-2"></span>
                        <label>First Name:</label> <%= userInfo ? userInfo.firstName : "" %>
                    </p>
                </div>
                <div class="col-sm-12">
                    <p class="text-sm text-muted">
                        <span class="far fa-user p-2"></span>
                        <label>Last Name:</label> <%= userInfo ? userInfo.lastName : "" %>
                    </p>
                </div>
            </div>
            <div class="form-group ">
                <div class="input-field">
                    <input class="form-control" type="password" name="password" placeholder="Password" minlength="3" maxlength="32" required class="">
                    </button>
                </div>
            </div>
            <div class="form-group ">
                <div class="input-field">
                    <input class="form-control"type="password" name="confirmPassword" placeholder="Confirm password" minlength="3" maxlength="32" required class="">
                    </button>
                </div>
            </div>

            <a class="btn btn-block text-center mx-2 my-3" href="/register">Back</a>
            <button class="btn btn-block text-center my-3" type="submit">Register</button>


            <div class="text-center pt-3 text-muted">Already a member? <a href="/">Login</a></div>

        </form>
    </div>

</main>
<%- include('includes/end.ejs') %>



